<div id="appName">
    This is Egypt!
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-1 offset-2" id="aim">
            Aim
        </div>
        <div class="col-7">
            The aim of this website is to inform visitors more about tourism in Egypt. The "Cities" tab will inform you more about Egyptian cities. The "Weather" tab will display the weather of certain Egyptian areas. Finally, the "Tech Ideas" tab will display a form which the user might fill if they have a technical idea to improve tourism in Egypt.
        </div>
    </div>
</div>
<br>
<img [src]="pyramidsURL" id="bg">