<form [formGroup]="techIdeasForm">
    <div class="col-6 offset-3">
        <label for="userName" class="form-label">Name</label>
        <input type="text" class="form-control" id="userName" formControlName="name">
   
        <span *ngIf="nameFormControl.touched && nameFormControl.errors?.['required']">
            Please insert your name.
        </span> 
        <span *ngIf="nameFormControl.dirty && nameFormControl.errors?.['minlength']">
            Your name should be longer than two characters.
        </span> 
        <span *ngIf="nameFormControl.dirty && nameFormControl?.errors?.['forbiddenWord']">
            You cannot use the word "tourist".
        </span>  
    </div>
    <br>
    <div class="col-6 offset-3">
        <label for="userEmail" class="form-label">E-Mail</label>
        <input type="text" class="form-control" id="userEmail" formControlName="email">
    
        <span *ngIf="emailFormControl.touched && (emailFormControl.errors?.['required'] || emailFormControl.errors?.['email'])">
            Please enter a valid email.
        </span> 
    </div>
    <br>
    <div class="col-6 offset-3">
        <label for="userAge" class="form-label">Age</label>
        <input type="text" class="form-control" id="userAge" formControlName="age">
    
        <span *ngIf="ageFormControl.touched && ageFormControl.errors?.['required']">
            Please enter your age.
        </span> 
    </div>
    <br>
    <div class="col-6 offset-3">
        <label for="targetCity" class="form-label">Target City</label>
        <select class="form-control" id="targetCity" formControlName="city">
            <option value="{{cities}}" *ngFor="let city of cities">{{city}}</option>
        </select>
    
        <span *ngIf="cityFormControl.touched && cityFormControl.errors?.['required']">
            Please select a city.
        </span> 
    </div>
    <br>
    <div class="col-6 offset-3">
        <label for="brief" class="form-label">Brief about your Technical Idea</label>
        <textarea rows="4" cols="50" class="form-control" id="brief" formControlName="brief"></textarea>
    
        <span *ngIf="briefFormControl.touched && briefFormControl.errors?.['required']">
            Please insert a brief description of your project.
        </span> 
        <span *ngIf="briefFormControl.dirty && briefFormControl.errors?.['minlength']">
            The description should be at least 100 characters.
        </span> 
        <span *ngIf="briefFormControl.dirty && briefFormControl?.errors?.['forbiddenWord']">
            You cannot use the word "nothing".
        </span> 
    </div>
    <br>
    <button class="col-2 offset-5 btn btn-dark" type="button" (click)="onSubmit()" [disabled]="techIdeasForm.invalid">Submit</button>
    <div class="hidden" *ngIf="show_div">Thank you for your submission!</div>
</form>